<html><head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>	
	<style>

.grid-container { height: 100%; margin: 0; }
.grid-container {
  display: grid;
  grid-template-columns: 37% 63%;
  grid-template-rows: 40% 60%;
  gap: 1px 1px;
  grid-template-areas: "Question Question" "Score Chat";
}

.Question { grid-area: Question; background-color: yellow; }

.Score { grid-area: Score; background-color: red;}

.Chat { grid-area: Chat; background-color: blue;}
        
        
</style>
</head>

<body>

<div class="grid-container">
  <div class="Chat"></div>
  <div class="Question"></div>
  <div class="Score"></div>
</div>

</body></html>